html,
body {
    height: 100%;
}

body {
    background: url('../../assets/images/fundo.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    color: rgb(124, 247, 9);
    padding: 10px 0;
}

.logo {
    background: url("../../assets/icons/RICK_MORTY_ICON-01.svg");
    background-size: contain;
    height: 50px;
    width: 50px;
    display: inline-block;
    margin-left: 10px;
    border: none;
    outline: none;
}

h1 {
    font-size: 2rem;
    animation: fadeIn 2s ease-in;
    font-weight: bold;
}

.search-bar input {
    max-width: 300px;
    margin: 0 auto;
}

.pagination-controls {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 0;
}

#prevButton,
#nextButton {
    position: absolute;
    top: 50vh;
    color: rgb(124, 247, 9);
    padding: 8px 16px;
    cursor: pointer;
    background-size: 70%;
    z-index: 10;
    border: none;
    outline: none;
    background: none;
    transition: transform 0.3s ease, color 0.3s;
}

#prevButton {
    left: 5px;
}

#nextButton {
    right: 5px;
}

#prevButton:active,
#nextButton:active {
    transform: scale(0.95);
    color: white;
    border: none;
    outline: none;
}

#prevButton:disabled,
#nextButton:disabled {
    color: #6c757d;
    border: none;
    outline: none;
}



#nextNumber {
    display: flex;
    position: absolute;
    top: 30%;
    left: 44%;
    margin-bottom: 1rem;
}

#prevNumber {
    display: flex;
    position: absolute;
    top: 30%;
    right: 44%;
    margin-bottom: 1rem;
}

.container {
    display: flex;
    width: 90%;
}

.cards-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: #70be857d;
    border: none;
    color: white;
    width: 100%;
    max-width: 540px;
    min-height: 350px;
    transform: translateY(50px);
    opacity: 1;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-label {
    color: #bdb2b2f2;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card.show {
    transform: translateY(0);
    opacity: 1;
}

.card-body {
    margin-left: 10% !important;
}

.status-indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 10px;
}

.status-alive {
    background-color: rgb(124, 247, 9);
}

.status-dead {
    background-color: red;
}

.status-unknown {
    background-color: gray;
}

.footer {
    background-color: #1a1a1a;
    color: #b5b5b5;
    position: relative;
    z-index: 10;
}

.footer-stats {
    font-weight: bold;
    color: #b5b5b5;
}

.footer-text {
    color: #ffffff;
}

.footer-item-p,
.footer-item {
    font-size: 14px;
}

.footer-item-p {
    color: #90bd9f93;
}

.footer-item {
    color: rgb(124, 247, 9);
}

svg {
    width: 35px;
    height: 35px;
    border: none;
    outline: none;
}

footer strong {
    color: rgb(124, 247, 9);
}


.cards-container {
    padding-bottom: 50px;
}

.modal-body,
.modal-header {
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
}

.modal-content {
    background-image: url('../../assets/images/FUNDO_3.jpg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.img-custon-modal {
    height: auto;
    width: 50%;
}



/* Media Queries */

@media (max-width: 576px) {

    .container,
    .container-sm {
        max-width: 350px;
    }

    .card-body {
        margin-left: 10% !important;
    }

    .btn {
        border: none;
        outline: none;
    }
}

@media (max-width: 667px) {

    svg {
        width: 35px;
        height: 35px;
        border: none;
        outline: none;
    }

    .btn {
        border: none;
        outline: none;
    }

    #prevButton,
    #nextButton {
        padding: 5px 10px;
        font-size: 10px;
        border: none;
        outline: none;
    }

    #prevButton {
        left: 10px;
    }

    #nextButton {
        right: 10px;
    }

    .card {
        width: 80%;
        max-width: 280px;
    }

    .cards-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 70px
    }

    .card-body {
        margin-left: 10% !important;
    }

    .footer-item-p,
    .footer-item,
    .footer-text {
        font-size: 12px;
    }

    .footer-item {
        color: rgb(124, 247, 9);
    }

    .footer-stats {
        display: flex;
        flex-direction: row;
    }
}

@media (min-width: 768px) {

    svg {
        width: 35px;
        height: 35px;
        border: none;
        outline: none;
    }

    #prevButton,
    #nextButton {
        border: none;
        outline: none;
        width: 35px;
        height: 35px;
        padding: 10px 20px;
        font-size: 20px;
    }

    .btn {
        border: none;
        outline: none;
    }

    #prevButton {
        left: 30px;
    }

    #nextButton {
        right: 50px;
    }

    #nextNumber {
        top: 35%;
        left: 77%;
    }

    #prevNumber {
        top: 30%;
        right: 0%;
    }

    .card img {
        margin-top: 6px !important;
        height: 100% !important;
        width: 225px !important;
        object-fit: cover;
    }

    .cards-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 70px
    }

    .card-body {
        margin-left: 25% !important;
    }

    .footer-item-p,
    .footer-item {
        font-size: 16px;
    }

    .footer-item {
        color: rgb(124, 247, 9);
    }

    .footer-stats {
        display: flex;
        flex-direction: row;
    }

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}